global-exclude __pycache__ *.py[cod]

include README.md
include LICENSE
include MANIFEST.in

include rex/templates/data/download.py
include rex/templates/.gitignore
include rex/templates/README.md
include rex/templates/run.sh
include rex/templates/custom.yaml
include rex/templates/src/*.py
